@import url("./normalize.css");

/*  css 모듈 */
a{
    text-decoration: none;
    color:#000;
}
ul, ol{
    list-style: none;
    padding-left: 0;
}
.resetBtn{
    border:0px;
    padding:0px;
    cursor: pointer;
}
.resetMargin{
    margin:0;
}

th{
    font-weight: 400;
}
.a11yHidden{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}
/* 애니메이션 */

/* 로딩 애니메이션 헤더 */
@keyframes header{
    0%{ transform: translateY(-100%);}
    100%{transform: translateY(0)}
}

/* 로딩 애니메이션 로고 */
@keyframes logo{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

/* 로딩 애니메이션 버튼 */
@keyframes btn {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/* 로딩 애니메이션 메뉴 */
@keyframes MenuList {
    0%{
        transform: translateY(50px);
         opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/* 모바일 오프닝 애니 */
@keyframes opening{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* 모바일 오프닝 꽃잎 애니메이션 */
@keyframes cherryBlossom1{
    0%{
        top:-60px;
        left: 50%;
    }
    100%{
        top:150px;
        left:38%
    }
}
@keyframes cherryBlossom2{
    0%{
        top:-60px;
        left:25%;
    }
    100%{
        top:300px;
        left:40%        
    }
}
@keyframes cherryBlossom3{
    0%{
        top:-60px;
        left: 70%;
    }
    100%{
        top:340px;
        left:53%
    }
}

/* 데스크탑 꽃잎 애니메이션 */
@keyframes flower1 {
    0% {
        top: -10vh;
        left: 10%;
        opacity: 1;
    }
    100% {
        top: 100vh;
        left: 80%;
        opacity: 0;
    }
}

@keyframes flower2 {
    0% {
        top: -10vh;
        left: 18%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 72%;
        opacity:0;
    }
}

@keyframes flower3 {
    0% {
        top: -10vh;
        left: 25%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 85%;;
        opacity:0;
    }
}

@keyframes flower4 {
    0% {
        top: -10vh;
        left: 32%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 25%;;
        opacity:0;
    }
}

@keyframes flower5 {
    0% {
        top: -10vh;
        left: 45%;
        opacity: 1;
    }
    100% {
        top: 100vh;
        left: 10%;
        opacity:0;
    }
}

@keyframes flower6 {
    0% {
        top: -10vh;
        left: 62%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 5%;
        opacity:0;
    }
}

@keyframes flower7 {
    0% {
        top: -10vh;
        left: 76%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 66%;
        opacity:0;
    }
}

@keyframes flower8 {
    0% {
        top: -10vh;
        left: 81%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 90%;
        opacity:0;
    }
}

@keyframes flower9 {
    0% {
        top: -10vh;
        left: 88%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 13%;
        opacity:0;
    }
}

@keyframes flower10 {
    0% {
        top: -10vh;
        left: 95%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 34%;
        opacity:0;
    }
}
/* 헤더 공통 */
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.7);
    z-index:3;
    animation-name: header;
    animation-duration: 0.5s;
}

/* 헤더 로고부분! */
.headerHeading{
    height: 100%;
    line-height: 85px;    
}
.headerHeading a{
    display:inline-block;
    height: 100%;
    padding: 0 20px;
}
.headerHeading a{
    animation-name: logo;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}


.headerHeading a img{
    width: auto;
    height: 50%;
}
/* 헤더 네비게이션 부분 */
.openNavigationBtn{
    position: absolute;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    top:0;
    right:0;
    width:80px;
    height: 80px;
    background-color: #fff;
    transition: all 0.7s;
}

.openNavigationBtn:hover{
    background-color: #eee; 
}
/* 헤더 햄버거 패티부분 */
.openNavigationBtn span{
    display:block;
    width: 25px;
    height: 4px;
    background-color: #000;
    margin: 2px 0;
}
/* 메인 네비게이션 영역 */

/* 메인 네비게이션 내부 */
.navigationBox{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(110%);
    transition: all 0.5s;
    background-color: rgba(20, 24, 44, 0.9);
}
.navigationLists{
    margin-top: 60px;
}
.navigationLists li a{
    display:block;
    color:#fff;
    padding:20px 10px;
    border-bottom: 1px solid #303055;
    transition: all 0.5s;
}
.navigationLists li a:hover{
    background-color: #5555cc;
}
/* 네비게이션 스크립트 모듈 */
.backgroundSkyblue{
    background-color: #5555cc;
}
.openNavi{
    transform: translateX(0); 
}
.openNavigationBtn{
    animation: btn 1s both 0.2s;
}

    /* 공통 닫기 버튼 */
.closeBtn{
    position: absolute;
    top:16px;
    right: 25px;
    width:50px;
    height: 50px;
    text-indent: 50px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    transition: all 0.3s;
}
.closeBtn span{
    position: absolute;
    width:50%;
    top:50%;
    left: 10px;
    height: 3px;
    background-color: #fff;
}
.closeBtn:hover{
    transform: scale(1.2);
}
.cross1{
    transform: rotate(45deg);
}
.cross2{
    transform: rotate(-45deg);
}

/* 메인 섹션 공통 코드 */
.main{
    width: 80%;
    margin:100px auto 0;
}
.menuSection{
    width:100%;
}
/* 메인메뉴 */
.menuLists{
    width:100%;
    max-width: 800px;
    margin:100px auto 0;
    padding: 40px 0;
    display:flex;
    justify-content: space-between;
    flex-flow: wrap;
}
/* 메뉴 리스트 */
.menuList{
    cursor: pointer;
    position: relative;
    margin: 10px 0;
}


.menuList{
    transform: translateY(-50px);
    animation: MenuList 1s both 1s;
}

.menuList:nth-child(2){
    transform: translateY(-50px);
    animation: MenuList 1s both 1.2s;
}
.menuList:nth-child(3){
    transform: translateY(-50px);
    animation: MenuList 1s both 1.4s;
}
.menuList:nth-child(4){
    transform: translateY(-50px);
    animation: MenuList 1s both 1.6s;
}

.menuList{
    margin: 10px 0;
}
.menuLists li a{
    border-bottom: 1px solid rgba(24, 24, 181, 0.3);
    display:block;
    font-size: 1em;
    color:#fff;
    padding: 15px 0 15px 30px;
}
.menuList figure{
    box-sizing: border-box;
    width:100%;
    background-color: #eee;
    transition: all 0.3s;
    overflow: hidden;
    text-align: center;
}
figure img{
    display:inline-block;
    width: 200px;
    height: auto;
    transition: all 0.5s;
}
.menuList figure img[src*="브라우니"]{
    transform: scale(0.9);
}
.menuList:hover > figure img{
    transform: scale(1.1);
}
.menuList:hover figure img[src*="브라우니"]{
    transform: scale(1);
}
.menuList figcaption{
    text-align: center;
    padding: 10px 0 20px 0;
}
/* 메뉴 상세 */

/* 메뉴 상세 설명 박스 */
.menuExplain{
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    opacity: 0;
    transition: all 0.3s;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
    display:none
}
/* 이벤트 사용을 위한 모듈 */
.show{
    display:block;
    cursor: text;
}
/* 메뉴 타이틀 */
.menuTitle{
    font-size: 1.2em;
    padding-top:40px
}
.menuTitle::after{
    content:"";
    display:block;
    width:100%;
    height: 1px;
    background-color: #000;
    margin:20px 0;
}
.menuTitle span{
    display:block;
    font-size: 0.8em;
    color: #999999
}
.menuDescription{
    text-align: justify;
}
/* 메뉴 성분 분석표 asdadasd*/
.menuIngredient{
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 10px 15px;
    background-color: #eee;
}
.menuIngredientTable{
    width:80%;
    margin:0 auto;
    border-collapse: collapse;
}
.menuIngredientTable tr td,.menuIngredientTable tr th{
    font-size: 0.8em;
    width:25%;
    white-space: nowrap;
    font-weight: 400;
}

.menuIngredientTable tr th:nth-child(n+2){
    border-left: 1px solid #000;
    padding-left: 2%;
}
/* 상세 설명 닫기 박스 */
.exampleBtn{
    top:0;
    right:0;
    cursor: pointer;
}
.exampleBtn span{
    background-color: #000;
}


@media(max-width:560px) {
    .menuList {
        width: 100%;
    }

    /* 모바일 어플리케이션 시작 wraper */
    .appStartWraper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #89d4fa;
        background-image: url("./images/이디야커버이미지.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 35%;
        border: 1px solid #89d4fa;
        z-index: 1000;
        animation: opening 4s 1 both;
    }

    .headerHeading a img {
        /* width:45%; */
        height: 25%;
    }

    .flowerRainBox {
        display: none;
    }

    [class*=cherryBlossom] {
        position: absolute;
    }

    .cherryBlossom1 {
        top: -60px;
        left: 50%;
        animation: cherryBlossom1 4s ease forwards;
    }

    .cherryBlossom2 {
        top: -60px;
        left: 25%;
        animation: cherryBlossom2 4s ease forwards
    }

    .cherryBlossom3 {
        top: -60px;
        left: 70%;
        animation: cherryBlossom3 4s ease forwards
    }

}
@media(min-width:561px){
    .main{
        max-width: 800px;
    }
    .menuList{
        width:48%;
    }

    .flowerRainBox img{
        position: absolute;
        top: -10vh;
        z-index: -1;
    }
    .flowerRainBox img:nth-child(1){
        /* left: 10%; */
        animation: flower1 infinite ease-in-out  10s 1s;
    }
    .flowerRainBox img:nth-child(2){
        /* left: 18%; */
        animation: flower2 infinite ease-in-out   10s 5s;
    }
    .flowerRainBox img:nth-child(3){
        left: 25%;
        animation: flower3 infinite ease-in-out   10s 2s;
    }
    .flowerRainBox img:nth-child(4){
        left: 32%;
        animation: flower4 infinite ease-in   10s 1s;
    }
    .flowerRainBox img:nth-child(5){
        left: 45%;
        animation: flower5 infinite ease-out   10s;
    }
    .flowerRainBox img:nth-child(6){
        left: 62%;
        animation: flower6 infinite ease-in-out   10s 5s;
    }
    .flowerRainBox img:nth-child(7){
        left: 76%;
        animation: flower7 infinite ease-out   10s 2s;
    }
    .flowerRainBox img:nth-child(8){
        left: 81%;
        animation: flower8 infinite ease-in   10s 1.5s;
    }
    .flowerRainBox img:nth-child(9){
        left: 88%;
        animation: flower9 infinite ease-out   10s 5s;
    }
    .flowerRainBox img:nth-child(10){
        left: 95%;
        animation: flower10 infinite ease-in-out 10s;
    }
}